@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #a1c3ff;
}


/*styles for the herosection image **/

img {
    max-width: 100%;
}


/*styles for the logo image in the div within header **/

.imgStyle img {
    max-width: 50%;
    max-height: 50%;
    margin: auto;
    display: block;
}

h1,
h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #3474e6;
    color: #fff;
    height: 60px;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}

.navbar a:hover {
    color: lightblue;
    padding-right: 25px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    background-color: #0151cc;
    color: #fff;
    min-height: 400px;
    padding: 40px;
}

.about {
    background-color: #fff;
    color: black;
    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.about h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.about img {
    max-width: 400px;
    margin-top: 40px;
    border-radius: 20px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.boxes .container {
    display: flex;
    justify-content: space-around;
}

.aboutHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.clientHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box {
    flex: 1;
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

.box i {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .header .container .main-container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .boxes .container {
        display: block;
        text-align: center;
    }
    .form-control {
        width: 100%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #a1c3ff;
}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #3474e6;
    color: #fff;
    height: 60px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: lightblue;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    background-color: #0151cc;
    color: #fff;
    min-height: 400px;
    margin-top: 80px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
    margin-top: 40px;
    border-radius: 80%;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnStyle {
    border-radius: 20px;
}

.btnStyle:hover {
    padding-right: 25px;
    box-shadow: 0 3px #fff;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
    flex: 1 0 30%;
}

.box i {
    margin-right: 10px;
}

.footer {
    background: #00428a;
    line-height: 80px;
    color: #fff;
    text-align: center;
}


/*.gallery*/

.gallery {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-color: #2a2932;
    padding: 100px 0;
}

.gallery .gallery-filter {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.gallery .gallery-filter .filter-item {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    line-height: 1.2;
    transition: all 0.3s ease;
}

.gallery .gallery-filter .filter-item.active {
    color: #ff9800;
    border-color: #ff9800;
}

.gallery .gallery-item {
    width: calc(100% / 3);
    padding: 15px;
}

.gallery .gallery-item-inner img {
    width: 100%;
}

.gallery .gallery-item.show {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.gallery .gallery-item.hide {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.contain {
    max-width: 1170px;
    margin: auto;
}

.img {
    max-width: 100%;
    vertical-align: middle;
}

.page_section {
    align-items: center;
}


/*clients logo styles**/

.client_logos {
    background: #000fff;
    padding: 60px 0;
    margin-top: 0px;
}

.client_logos ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.client_logos ul li {
    display: inline;
    margin: 0 25px;
}

.client_logos ul a {
    display: inline-block;
    margin: 0 20px;
}


/*contact us section styles*/

.row {
    display: flex;
    padding: 30px;
}

.column {
    flex: 50%;
    padding: 30px;
}


/*responsive*/

@media(max-width: 991px) {
    .gallery .gallery-item {
        width: 50%;
    }
}

@media(max-width: 767px) {
    .gallery .gallery-item {
        width: 100%;
    }
    .gallery .gallery-filter .filter-item {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .header .container img {
        align-content: center;
    }
    .about .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .aboutHeader {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .boxes .container {
        display: block;
        text-align: center;
    }
}